{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form_profil.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_private_profil') }}">back to profil</a>
{% endblock %}
